<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero-thief0stand0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero-thief1stand0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{56,0},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero-thief2stand0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{112,0},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero-thief3stand0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{168,0},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>hero-thief.png</string>
            <key>size</key>
            <string>{224,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca9f43b9faa89c144e61680d77f209d7:98bcc10692bdf8a0c7e256c179a5e141:3285f7e9ef76d485b23112eaf5b83670$</string>
            <key>textureFileName</key>
            <string>hero-thief.png</string>
        </dict>
    </dict>
</plist>
